@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
*{
    margin: 0;
    padding: 0;
}
.section-title
{
    font-size: 2.8rem;
    font-weight: 700;
}
.font-45
{
    font-size: 2.81rem;
}
main
{
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex
{
    display: flex;
}
.dark1
{
    color: #131313;
}
.dark2
{
    color: #424242;
}
.bg-light
{
    background-color: rgba(255, 144, 14, 0.1);
}
.dark-3
{
    color: #727272;
}
.primary-btn
{
    background-color:#FF900E;
    color: #ffffff;
    padding: 20px 25px;
    border: none;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
}
main > section
{
    margin-top: 130px;
}
/* header styles */
.brand
{
    font-weight: bold;
    font-size: 2.8rem;
}
/* navbar styles */
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link
{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.navbar
{
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.navbar, .banner
{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner section */
.banner-content
{
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-content .banner-title
{
    font-weight: bold;
    font-size: 4rem;
}
.banner
{
    margin-top: 102px;
}
.banner-img
{
    width: 100%;
}
.banner-description
{
    margin-top: 25px;
    margin-bottom: 32px;
}
.bg-light
{
    margin-bottom: 45px;
}
.bg-light
{
    padding-bottom: 50px;
}
.teams
{
    align-items: center;
    gap: 25px;
}
.team-img-container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features
{
    margin-left: 100px;
    max-width: 530px;
}
.Quick-list
{
    font-weight: 500;
}
.feature-tiele
{
    font-weight: 700;
    padding-bottom: 24px;
}
.Features
{
    color: #FF900E;
}
.feature-description{
    padding-bottom: 32px;
}
/* fact card */
.facts-container
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.box
{
    flex-direction: column;
    align-items: center;
}
.fact-card
{
    border: 1px #FF900E solid;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.factt img
{
    width: 45px;
    height: 45px;
}
.fact-number
{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
}
.fact-name
{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.text
{
    margin-bottom: 100px;
    margin-top: 24px;
    max-width: 540px;
}
/* sponsor section */
.sponsor-info
{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sposor-companies
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.sposor-companies img
{
    filter: grayscale(100%)
}
/* feature-section relatade style */
.features
{
    gap: 140px;
}
#feature-section-title
{
    border-left: 5px solid #FF900E ;
    padding-left: 20px;
}
.feature-part-1
{
    max-width: 468px;
}
.feature-title
{
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 10px;
    margin-top: 0;
    padding-bottom: 0;
}
.feature-card
{
    padding: 20px 10px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
#experience-badge
{
    padding: 42px 36px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -120px;
}
#experience-year
{
    font-size: 4rem;
    font-weight: 700;
}
.featured-architect img
{
    width: 100%;
}
/* footer section */
.footer
{
    max-width: 1440px;
    background-color: #FFF4E7;
    width: 100%;
    border-radius: 8px;
    margin: 100px auto;
}
.footer p
{
    padding: 38px 410px;
    font-size: 1.2rem;
}

/* responsive media query */
@media screen and (max-width:576px)
{
    .navbar, 
    .nav-links,
    .teams,
    .features
    {
        flex-direction: column;
    }
    .team-img-container, 
    .facts-container, 
    .sposor-companies
    {
        grid-template-columns: repeat(1, 1fr);
        
    }
    .our-features
    {
        margin-left: 20px;
    }
    .facts-container, .sposor-companies
    {
        justify-items: center;
        gap: 24px;
    }
    #experience-badge
    {
        margin-top: 20px;
        margin-left: 20px;
    }
    .feature-card
    {
        justify-content: center;
    }
    

}
/* responsive for medium device */
@media screen and (min-width:576px) and (max-width:992px)
{
    .teams, .features
    {
        flex-direction: column;
    }
    .our-features
    {
        margin: 50px auto;
    }
    .sposor-companies, .facts-container
    {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 24px;
    }
    #experience-badge
    {
        margin-top: 20px;
        margin-left: 20px;
    }
}